li .active{
    border-bottom: 2px solid #e4a650;
    padding-bottom: 5px;
}
.nav{
    font-size: 15px;
}
.para{
    font-size: 15px;
}
.shop-name{
    font-family: serif;
    font-size: 38px;
}
.second-title{
    font-size: 30px;
}
.main-shop-name{
    font-size: 70px;
    font-family: serif;
}
.gray{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.glider-next{
    right:50px !important;
}
.glider-prev{
    left:50px !important;
}
.gallery-box{
    column-count: 3;
    column-width: 300px;
    column-fill: balance;
}
.glider-dots{
    margin-top: 30px;
}
.bts{
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 0% 100%);
}
.call-us::before{
    border-width: 1px 1px 0 0;
    right: 0;
    top: 0;
}
.call-us::after{
    border-width: 0 0 1px 1px;
    bottom: 0;
    left: 0;
}
.call-us::after,.call-us::before{
    border-color: #f5a637;
    border-style: solid;
    content: "";
    height: 2rem;
    position: absolute;
    width: 2rem;
}
